Repository caicloud/rudder-client, pull requests merged in 2018-09, with the labels that each got.

#2 feat(status): add replicaset status assistant
  status/apps/v1/deployment.go
  status/apps/v1/register.go
  status/apps/v1/replicaset.go
Labels: caicloud-cla: yes, lgtm, release-note, size/M

#3 chore(*): add OWNERS & CODEOWNERS
  CODEOWNERS
  OWNERS
Labels: caicloud-cla: yes, lgtm, release-note-none, size/XS

#5 feat: use progressing instead of processing
  Gopkg.lock
  status/apps/v1/daemonset.go
  status/apps/v1/deployment.go
  status/apps/v1/longrunning.go
  status/apps/v1/replicaset.go
  status/batch/v1/job.go
  status/batch/v1beta1/cronjob.go
  status/core/v1/pvc.go
  vendor/github.com/caicloud/clientset/pkg/apis/release/v1alpha1/types.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#6 feat(event): add event message
  Gopkg.lock
  status/apps/v1/daemonset.go
  status/apps/v1/deployment.go
  status/apps/v1/replicaset.go
  status/apps/v1/statefulset.go
  vendor/github.com/caicloud/clientset/listerfactory/factory.go
  vendor/github.com/caicloud/clientset/util/event/event.go
  vendor/github.com/caicloud/clientset/util/status/pod_event.go
  vendor/github.com/caicloud/clientset/util/status/types.go
Labels: caicloud-cla: yes, release-note-none, size/L
